{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/fa.css' %}">

    <style>
    .img-pic{
            position: relative;
            border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
            aspect-ratio: 1;
            width: 250px;
        }
      .m-top{
      margin-top: 58px;!important
      }
        .jca{
      justify-content:flex-start!important
      }
      @media (max-width:991.8px){
      .m-top{
      margin-top: 100px;!important
      }
      #sidebarMenu{
        margin-top: 30px;
      }
      .jca{
      justify-content:space-around!important
      }
      }

    </style>

</head>
<body>

    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
          <div class="sidebar-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="home" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <i class="fa fa-home fa-fw me-3"></i><span>Home</span>
              </a>
              <a href="news" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fa fa-newspaper fa-fw me-3"></i><span>News</span>
              </a>
              <a href="events" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-image fa-fw me-3"></i><span>Events</span></a>
              <a href="go" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-file fa-fw me-3"></i><span>GO's and Forms</span></a>
              <a href="issues" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fa-solid fa-circle-exclamation fa-fw me-3"></i><span>Raise an Issue</span>
              </a>
              <a href="about" class="list-group-item list-group-item-action py-2 ripple active">
              <i class="fas fa-address-card fa-fw me-3"></i><span>About us</span>
              </a>
            </div>
          </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <!-- Container wrapper -->
          <div class="container-fluid jca">

            <div class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" width="45" class="ms-2 me-3">
            <h3 style="font-weight: 600">
                STU Kakinada
              </h3>
            </div>

          <form class="d-flex input-group w-auto" action="search" id="search_form">
          <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          name="q"
          />
          </form>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
              >
              <i class="fas fa-bars"></i>
            </button>
            <!-- Right links -->
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
        <main class="m-top">
            <div class="container pt-4">
                <div class="row">
                <div class="col-12 col-md-6 ">
                        <div class="card m-2 text-center">
                            <div class="bg-image hover-overlay" data-mdb-ripple-color="light">
                            <img src="{% static 'img/yagna.jpg'%}" class="img-fluid p-2 img-pic"/>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Yagna Kusumanchi @SYMedia</h5>
                              <p class="card-text">Python Programmer and Frontend Developer</p>
                              <a href="mailto:Yagna82kb@gmail.com" class="link-dark">yagna82kb@gmail.com</a> <br><br>
                              <a href="tel:+919014976938" class="link-dark">+919014976938</a>
                            </div>
                          </div>
                    </div>
                <div class=" col-12 col-md-6">
                        <div class="card m-2 text-center">
                            <div class="bg-image hover-overlay" data-mdb-ripple-color="light">
                              <img src="{% static 'img/sam.jpg' %}" class="img-fluid p-2 img-pic"/>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Samba Siva Rao Kovvuru @SYMedia</h5>
                              <p class="card-text">C++ Programmer and Backend Developer</p>
                              <a href="mailto:beautiful110g@gmail.com" class="link-dark">beautiful110g@gmail.com</a> <br><br>
                              <a href="tel:+917981041334" class="link-dark">+917981041334</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </main>

</body>
</html>