{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STU Kakinada Home Page</title>

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'js/mdb.min.js' %}"></script>
</head>
<body>
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="home" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                <i class="fa fa-home fa-fw me-3"></i><span>Home</span>
              </a>
              <a href="news" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fa fa-newspaper fa-fw me-3"></i><span>News</span>
              </a>
              <a href="events" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-image fa-fw me-3"></i><span>Events</span></a>
              <a href="go" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-file fa-fw me-3"></i><span>GO's and Forms</span></a>
              <a href="issues" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fa-solid fa-circle-exclamation fa-fw me-3"></i><span>Raise an Issue</span>
              </a>
              <a href="about" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-address-card fa-fw me-3"></i><span>About us</span>
              </a>
            </div>
          </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <!-- Container wrapper -->
          <div class="container-fluid justify-content-around">

            <div class="navbar-brand">
              <h3>
                STU Kakinada
              </h3>
            </div>

          <form class="d-flex input-group w-auto" action="search" id="search_form">
          <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          name="q"
          />
          <span class="input-group-text border-0" id="search-addon">
          <i class="fa fa-search"></i>
          </span>
          </form>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarData"
              aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
              >
              <img src="{% static 'img/toggle.webp' %}" alt="" style="width: 3rem;">
            </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarData">
              <div class="container">
                  <ul class="navbar-nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="news">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="events">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="go">GO's and Forms</a></li>
                    <li class="nav-item"><a class="nav-link" href="issues">Raise an Issue</a></li>
                    <li class="nav-item"><a class="nav-link" href="about">About us</a></li>
                  </ul>
              </div>
            </div>
            <!-- Right links -->
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
      <!--Main Navigation-->

      <!--Main layout-->
      <main style="margin-top: 58px;">
        <div class="container pt-4" align="center">
          <!-- Carousel wrapper -->
          <div id="carouselMaterialStyle" class="carousel slide carousel-dark w-75" data-mdb-ride="carousel">

            <!-- Inner -->
            <div class="carousel-inner rounded-5 shadow-4-strong">
              <!-- Single item -->
              <div class="carousel-item active">
                <img src="{% static 'img/banner_stu_kkd.jpeg' %}" class="d-block cimg w-100"
                  alt="Sunset Over the City" height="300"/>
                <div class="carousel-caption d-none d-md-block">

                </div>
              </div>

            <div class="carousel-item">
            <a href="{{data.caro_events.link}}">
            <img src="{{data.caro_events.image.image.url}}" class="d-block cimg w-100"
            alt="Sunset Over the City" height="300"/>
            </a>
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>

            <div class="carousel-item ">
                 <a href="{{data.caro_news.link}}">
            <img src="{{data.caro_news.image.image.url}}" class="d-block cimg w-100"
            alt="Sunset Over the City" height="300"/>
                 </a>
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>


            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- Carousel wrapper -->

          <section class="News pt-4">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col mx-3" align="left">
                        <h2>
                            Latest News
                        </h2>
                    </div>
                <div class="col px-5" align="right">
                    <h2>
                        <a href="/news" style="text-decoration: underline; color: black; font-size: x-large;">View All</a>
                    </h2>
                </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                {% for post in data.posts %}
                <div class="col m-2">
                    <div class="card h-100">
                        <div class="card-header" style="font-size: x-large;">
                            <a href="/news/{{post.id}}" style="text-decoration: none; color: black;">{{post.title}}</a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{post.body|truncatewords:20}}</p>
                        </div>
                        <div class="card-footer">
                            Posted at: {{post.created_at}}
                        </div>

                    </div>
                </div>
                {% endfor %}
                </div>
            </div>

          </section>

          <section class="Events pt-4">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col mx-3" align="left">
                        <h2>
                            Latest Events
                        </h2>
                    </div>
                <div class="col px-5" align="right">
                    <h2>
                        <a href="/events" style="text-decoration: underline; color: black; font-size: x-large;">View All</a>
                    </h2>
                </div>
                </div>
            </div>

            <div class="container-fluid">
            <div class="row">
                {% for post in data.events %}
                <div class="col m-2">
                    <div class="card h-100">
                        <div class="card-header" style="font-size: x-large;">
                            <a href="/events/{{post.id}}" style="text-decoration: none; color: black;">{{post.title}}</a>
                        </div>
                        {% if post.hasImage %}
                        <div class="card-body">
                            <img class="card-img" src={{post.img.image.url}} style="height: 25vh; width: auto;">
                        </div>
                        {% else %}
                        <div class="card-body">
                            <p class="card-text">{{post.body|truncatewords:20}}</p>
                        </div>
                        {% endif %}
                        <div class="card-footer">
                            Posted at: {{post.created_at}}
                        </div>

                    </div>
                </div>
                {% endfor %}
                </div>
            </div>

          </section>

          <section class="GOs_and_Pdfs pt-4 ps-4 pb-5">
            <h3 align="left" class="pt-2, pb-2">
              Latest PDF's, GO's and Forms
            </h3>
            <h4 align="left">
                Click To Download
            </h4>
            <div class="list-group list-group-flush pt-4" >
                <div class="container-fluid">
                    <div class="row w-75">
                        <div class="col">
                        {% for file in data.files %}
                        <a href="{{file.file.url}}">
                        <button type="button" class="list-group-item list-group-item-action ripple text-center p-3 m-2">
                        {{file.filename}}
                        </button>
                        </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <h4 align="right" class="pt-4 pb-2 pe-5">
                <a href="/go" style="color: black;"> View more &#x2192</a>
            </h4>
          </section>

        </div>



      </main>
      <!--Main layout-->

</body>
</html>