{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STU Kakinada Home Page</title>

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/fa.css' %}">
    <script src="{% static 'js/mdb.min.js' %}"></script>

    <style>
    .m-top{
        margin-top: 58px;!important
    }
    .f-wid{
        width: 50%;!important
    }

    .jca{
        justify-content:flex-start!important
    }
    @media (max-width:991.8px){
        .m-top{
            margin-top: 100px;!important
        }
        .card{
            min-width: 256px;
        }
        #sidebarMenu{
            margin-top: 30px;
        }
        .f-wid{
            width: 100%;!important
        }
        .jca{
            justify-content:space-around!important
        }
    }
    </style>

</head>
<body>
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="home" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                <i class="fa fa-home fa-fw me-3"></i><span>Home</span>
              </a>
              <a href="news" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fa fa-newspaper fa-fw me-3"></i><span>News</span>
              </a>
              <a href="events" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-image fa-fw me-3"></i><span>Events</span></a>
              <a href="go" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-file fa-fw me-3"></i><span>GO's and Forms</span></a>
              <a href="issues" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fa-solid fa-circle-exclamation fa-fw me-3"></i><span>Raise an Issue</span>
              </a>
              <a href="about" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-address-card fa-fw me-3"></i><span>About us</span>
              </a>
            </div>
          </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <!-- Container wrapper -->
          <div class="container-fluid jca">

            <div class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" width="45">
            <h3>
                STU Kakinada
              </h3>
            </div>

          <form class="d-flex input-group w-auto" action="search" id="search_form">
          <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          name="q"
          />
          </form>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
              >
              <i class="fas fa-bars"></i>
            </button>

            <!-- Right links -->
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
      <!--Main Navigation-->

      <!--Main layout-->
      <main class="m-top">
        <div class="container pt-4" align="center">
          <!-- Carousel wrapper -->
          <div id="carouselMaterialStyle" class="carousel slide carousel-dark w-75" data-mdb-ride="carousel">

            <!-- Inner -->
            <div class="carousel-inner rounded-5 shadow-4-strong">
              <!-- Single item -->
              <div class="carousel-item active">
                <img src="{% static 'img/banner_stu_kkd.jpeg' %}" class="d-block cimg w-100"
                  alt="STU Kakinada Banner Logo" height="300"/>
              </div>

            <div class="carousel-item">
            <a href="{{data.caro_events.link}}">
            <img src="{{data.caro_events.image.image.url}}" class="d-block cimg w-100"
            alt="Nothing Found" height="300"/>
            </a>
            </div>

            <div class="carousel-item ">
                 <a href="{{data.caro_news.link}}">
            <img src="{{data.caro_news.image.image.url}}" class="d-block cimg w-100"
            alt="Nothing Found" height="300"/>
                 </a>
            </div>


            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- Carousel wrapper -->

          <section class="News pt-4">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col mx-3" align="left">
                        <h2>
                            Latest News
                        </h2>
                    </div>
                <div class="col px-5" align="right">
                    <h2>
                        <a href="/news" style="text-decoration: underline; color: black; font-size: large;">View All</a>
                    </h2>
                </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                {% if data.posts %}
                {% for post in data.posts %}
                <div class="col m-2">
                    <div class="card h-100">
                        <div class="card-header" style="font-size: large;">
                            <a href="/news/{{post.id}}" style="text-decoration: none; color: black;">{{post.title}}</a>
                        </div>
                        <div class="card-body" align="left">
                            <p class="card-text">{{post.body|truncatewords:20}}</p>
                        </div>
                    <div class="card-footer" style="font-size: small" align="right">
                            {{post.created_at}}
                        </div>

                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col m-2">
                <h4>
                    Nothing Found
                </h4>
                </div>
                {% endif %}
                </div>
            </div>

          </section>

          <section class="Events pt-4">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col mx-3" align="left">
                        <h2>
                            Latest Events
                        </h2>
                    </div>
                <div class="col px-5" align="right">
                    <h2>
                        <a href="/events" style="text-decoration: underline; color: black; font-size: large;">View All</a>
                    </h2>
                </div>
                </div>
            </div>

            <div class="container-fluid">
            <div class="row">
                {% if data.events %}
                {% for post in data.events %}
                <div class="col m-2">
                    <div class="card h-100">
                        <div class="card-header" style="font-size: large;">
                            <a href="/events/{{post.id}}" style="text-decoration: none; color: black;">{{post.title}}</a>
                        </div>
                        {% if post.hasImage %}
                        <div class="card-body">
                            <img class="card-img" src={{post.img.image.url}} style="height: 25vh; width: auto;">
                        </div>
                        {% else %}
                        <div class="card-body" align="left">
                            <p class="card-text">{{post.body|truncatewords:20}}</p>
                        </div>
                        {% endif %}
                        <div class="card-footer"  style="font-size: small" align="right">
                            {{post.created_at}}
                        </div>

                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col m-2">
                <h4>
                Nothing Found
                </h4>
                </div>
                {% endif %}
                </div>
            </div>

          </section>

          <section class="GOs_and_Pdfs pt-2">
          <div class="container-fluid ">
          <div class="row">
          <div class="col mx-3" align="left">
          <h2>
          Latest PDF's, GO's and Forms
          </h2>
          </div>
          <div class="row">
          <div class="col mx-3" align="left">
          <h5>
          Click to Download
          </h5>
          </div>
          </div>
          </div>
          </div>
            <div class="list-group list-group-flush pt-4" >
                <div class="container-fluid">
                    <div class="row">
                    {% if data.files %}
                        <div class="col m-2">
                        {% for file in data.files %}
                        <a href="{{file.file.url}}">
                        <button type="button" class="list-group-item list-group-item-action f-wid ripple text-center file-download">
                        {{file.filename}}
                        </button>
                        </a>
                        {% endfor %}
                        </div>
                        {% else %}
                    <div class="col m-2">
                    <h4>
                    Nothing Found
                    </h4>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            <h4 align="right" class="pt-4 pb-2 pe-5">
                <a href="/go" style="color: black;"> View more &#x2192</a>
            </h4>
          </section>

        </div>



      </main>
      <!--Main layout-->

</body>
</html>