{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Issues To STU Kakinada</title>

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/mdb.min.js' %}"></script>
</head>
<body>
    <!--Main Navigation-->
    <header>
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar scollapse bg-white">
<div class="position-sticky">
<div class="list-group list-group-flush mx-3 mt-4">
<a href="dashboard" class="list-group-item list-group-item-action py-2 ripple" >
<i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
</a>
<a href="home" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
<i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span>
</a>
<a href="news" class="list-group-item list-group-item-action py-2 ripple  ">
<i class="fas fa-chart-area fa-fw me-3"></i><span>News</span>
</a>
<a href="events" class="list-group-item list-group-item-action py-2 ripple "><i
class="fas fa-lock fa-fw me-3"></i><span>Events</span></a>
<a href="go" class="list-group-item list-group-item-action py-2 ripple "><i
class="fas fa-chart-line fa-fw me-3"></i><span>GO's and Other</span></a>
<a href="issues" class="list-group-item list-group-item-action py-2 ripple active">
<i class="fas fa-chart-pie fa-fw me-3"></i><span>Issues</span>
</a>
</div>
</div>
</nav>
<!-- Sidebar -->

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
<!-- Container wrapper -->
<div class="container-fluid justify-content-around">

<div class="navbar-brand">
<h3>
STU Kakinada
</h3>
</div>

<!-- Toggle button -->
<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarData"
aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
>
<img src="{% static 'img/toggle.webp' %}" alt="" style="width: 3rem;">
</button>

<div class="collapse navbar-collapse justify-content-between" id="navbarData">
<div class="container">
<ul class="navbar-nav justify-content-center">
<li class="nav-item"><a class="nav-link" href="home">Home</a></li>
<li class="nav-item"><a class="nav-link" href="news">News</a></li>
<li class="nav-item"><a class="nav-link" href="events">Events</a></li>
<li class="nav-item"><a class="nav-link" href="go">GO's and Forms</a></li>
<li class="nav-item"><a class="nav-link" href="issues">Raise an Issue</a></li>
<li class="nav-item"><a class="nav-link" href="about">About us</a></li>
</ul>
</div>
</div>
<!-- Right links -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->
    </header>
      <!--Main Navigation-->

      <!--Main layout-->
      <main style="margin-top: 58px;">
        <div class="container pt-4">

        <h2> Raise an Issue </h2>

            <form action="raiseIssue" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form">
                    <table>
                        <tr class="p-4">
                            <td> <label for="issue_title">Issue Title : </label></td>
                            <td> <textarea type="text" name="issue_title" title="issue_title" rows="1" cols="50" required></textarea></td>
                        </tr>
                        <tr class="p-4">
                            <td> <label for="issue_body">Description : </label></td>
                            <td> <textarea type="text" name="issue_body" title="issue_body" rows="10" cols="50" required></textarea></td>
                        </tr>
                        <tr class="p-4">
                            <td> <label for="issue_contact">Your Contact Number : </label></td>
                            <td> <input type="number" name="issue_contact" title="issue_contact" required></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit">Submit The Issue</button></td>
                        </tr>
                    </table>
                </div>

            </form>

        </div>
      </main>
      <!--Main layout-->

</body>
</html>