{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"   >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/fa.css' %}">
<script src="{% static 'js/mdb.min.js' %}"></script>

</head>
<body style="background-color: #eee;">
    
<header>
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
<div class="position-sticky">
<div class="list-group list-group-flush mx-3 mt-4">
<a href="home" class="list-group-item list-group-item-action py-2 ripple">
<i class="fa fa-home fa-fw me-3"></i><span>Home</span>
</a>
<a href="news" class="list-group-item list-group-item-action py-2 ripple ">
<i class="fa fa-newspaper fa-fw me-3"></i><span>News</span>
</a>
<a href="events" class="list-group-item list-group-item-action py-2 ripple"><i
class="fas fa-image fa-fw me-3"></i><span>Events</span></a>
<a href="go" class="list-group-item list-group-item-action py-2 ripple"><i
class="fas fa-file fa-fw me-3"></i><span>GO's and Forms</span></a>
<a href="issues" class="list-group-item list-group-item-action py-2 ripple">
<i class="fa-solid fa-circle-exclamation fa-fw me-3"></i><span>Raise an Issue</span>
</a>
<a href="about" class="list-group-item list-group-item-action py-2 ripple">
<i class="fas fa-address-card fa-fw me-3"></i><span>About us</span>
</a>
</div>
</div>
</nav>
<!-- Sidebar -->

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
<!-- Container wrapper -->
<div class="container-fluid justify-content-around">

<div class="navbar-brand">
<h3>
STU Kakinada
</h3>
</div>

<form class="d-flex input-group w-auto" action="search" id="search_form">
<input
type="search"
class="form-control rounded"
placeholder="Search"
aria-label="Search"
aria-describedby="search-addon"
name="q"
/>
<span class="input-group-text border-0" id="search-addon">
<i class="fa fa-search"></i>
</span>
</form>

<!-- Toggle button -->
<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarData"
aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
>
<img src="{% static 'img/toggle.webp' %}" alt="" style="width: 3rem;">
</button>

<div class="collapse navbar-collapse justify-content-between" id="navbarData">
<div class="container">
<ul class="navbar-nav justify-content-center">
<li class="nav-item"><a class="nav-link" href="home">Home</a></li>
<li class="nav-item"><a class="nav-link" href="news">News</a></li>
<li class="nav-item"><a class="nav-link" href="events">Events</a></li>
<li class="nav-item"><a class="nav-link" href="go">GO's and Forms</a></li>
<li class="nav-item"><a class="nav-link" href="issues">Raise an Issue</a></li>
<li class="nav-item"><a class="nav-link" href="about">About us</a></li>
</ul>
</div>
</div>
<!-- Right links -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->
</header>

<section class="gradient-form mt-5" style="background-color: #eee;">
<div class="container p-5" >
<div class="row text-center">
<div class="col msg">
{% for message in messages %}
<div class="msg">
<p>{{message}}</p>
</div>
{% endfor %}
</div>
</div>
<div class="row d-flex justify-content-center align-items-center ">
<div class="col-xl-5">
<div class="card rounded-3 text-black">
<div class="card-body p-md-5 mx-md-4">

    <h5 class="p-2 mb-5">

    Please Enter Your Details to Login

    </h5>

<form>
  <!-- Email input -->
  <div class="form-outline mb-5">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-5">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  {% csrf_token %}
</form>
</div>
</div>
</div>
</div>
</div>
</section>

</body>
</html>