<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h2 style="text-decoration: none; color: black;">{{data.posts.title}}</h2>
        <h5>{{data.posts.created_at}}</h5>
        {% for i in data.news_images %}

        <img src="{{ i.image.url }}" alt="">

        {% endfor %}
        <pre>{{data.posts.body}}</pre>
      </div>
</body>
</html>