{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Upload a New Event</title>

<link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/fa.css' %}">
<script src="{% static 'js/mdb.min.js' %}"></script>
<style>

.jca{
justify-content:flex-start!important
}
@media (max-width: 991.8px){
#sidebarMenu{
margin-top: 30px;
}
.jca{
justify-content:space-around!important
}
.tc{
text-align:center!important
}
}

</style>
</head>
<body>
<!--Main Navigation-->
<header>
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
<div class="position-sticky">
<div class="list-group list-group-flush mx-3 mt-4">
<a href="/home" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
<i class="fa fa-home fa-fw me-3"></i><span>Home</span>
</a>
<a href="/news" class="list-group-item list-group-item-action py-2 ripple ">
<i class="fa fa-newspaper fa-fw me-3"></i><span>News</span>
</a>
<a href="/events" class="list-group-item list-group-item-action py-2 ripple"><i
class="fas fa-image fa-fw me-3"></i><span>Events</span></a>
<a href="/go" class="list-group-item list-group-item-action py-2 ripple"><i
class="fas fa-file fa-fw me-3"></i><span>GO's and Forms</span></a>
<a href="/issues" class="list-group-item list-group-item-action py-2 ripple">
<i class="fa-solid fa-circle-exclamation fa-fw me-3"></i><span>Raise an Issue</span>
</a>
<a href="/about" class="list-group-item list-group-item-action py-2 ripple">
<i class="fas fa-address-card fa-fw me-3"></i><span>About us</span>
</a>
</div>
</div>
</nav>
<!-- Sidebar -->

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
<!-- Container wrapper -->
<div class="container-fluid jca">

<div class="navbar-brand">
<img src="{% static 'img/logo.png' %}" width="45">
<h3>
STU Kakinada
</h3>
</div>

<form class="d-flex input-group w-auto" action="/search" id="search_form">
<input
type="search"
class="form-control rounded"
placeholder="Search"
aria-label="Search"
aria-describedby="search-addon"
name="q"
/>
</form>

<!-- Toggle button -->
<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
>
<i class="fas fa-bars"></i>
</button>
<!-- Right links -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
<div class="container pt-4">
    <h3 align="center">
        {{data.posts.title}}
    </h3>
    <p class="p-5">
        {{data.posts.body}}
    </p>
    <div class="container-fluid">
        <div class="row">
            {% for i in data.news_images %}
            <div class="col p-5">
                <img src="{{i.image.url}}" style="max-width: 500px; max-height: 300px">
            </div>
            {% endfor %}
        </div>
    </div>
    <h4 class="p-5" align="right" style="font-size: small;">
        {{data.posts.created_at}}
    </h4>
</div>
</main>
<!--Main layout-->
</body>
</html>
