 {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STU Kakinada Home Page</title>

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fa.css' %}">
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <style>
    .jca{
    justify-content:flex-start!important
    }
    .m-top{
        margin-top: 58px;
    }
    @media (max-width: 991.8px ){
    #sidebarMenu{
        margin-top: 30px;
    }
    .m-top{
        margin-top: 100px;
    }
    .jca{
    justify-content:space-around!important
    }
    }
    </style>
  </head>
  <body>
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="home" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa fa-home fa-fw me-3"></i><span>Home</span>
              </a>
              <a href="news" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fa fa-newspaper fa-fw me-3"></i><span>News</span>
              </a>
              <a href="events" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-image fa-fw me-3"></i><span>Events</span></a>
              <a href="go" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-file fa-fw me-3"></i><span>GO's and Forms</span></a>
              <a href="issues" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fa-solid fa-circle-exclamation fa-fw me-3"></i><span>Raise an Issue</span>
              </a>
              <a href="about" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-address-card fa-fw me-3"></i><span>About us</span>
              </a>
            </div>
          </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <!-- Container wrapper -->
          <div class="container-fluid jca">

            <div class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" width="45">
            <h3>
                STU Kakinada
              </h3>
            </div>

          <form class="d-flex input-group w-auto" action="search" id="search_form">
          <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          name="q"
          />
          </form>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
              >
              <i class="fas fa-bars"></i>
            </button>
            <!-- Right links -->
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="m-top">
      <div class="container pt-4" align="center">
        {% if data.search %}
        <h4>Results for the Search: {{data.search}}</h4>
        {% if not data.news and not data.events and not data.files %}
            <h4> Nothing Found!</h4>
            {% else %}
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <h4>News:</h4>

              {% for news in data.news %}
              <div class="card m-4">
                <div class="card-header" style="font-size: x-large;">
                  <a
                    href="/news/{{news.id}}"
                    style="text-decoration: none; color: black;"
                    >{{news.title}}</a
                  >
                </div>
                <div class="card-body">
                  <p class="card-text">{{news.body|truncatewords:20}}</p>
                </div>

                <div class="card-footer">Posted at: {{news.created_at}}</div>
              </div>
              {% endfor %}
            </div>

            <div class="col">
              <h4>Events:</h4>

              {% for news in data.events %}
              <div class="card m-4">
                <div class="card-header" style="font-size: x-large;">
                <a
                href="/events/{{news.id}}"
                style="text-decoration: none; color: black;"
                >{{news.title}}</a
                >
                </div>
              <div class="card-body">
              <p class="card-text">{{news.body|truncatewords:20}}</p>
              </div>

              <div class="card-footer">Posted at: {{news.created_at}}</div>
              </div>
              {% endfor %}
            </div>
          </div>
        <div class="row">
        <div class="col">
        <div class="list-group list-group-flush pt-4">
        <div class="container-fluid">
        <div class="row">
        <div class="col">

        <h4 >
            GO's, Files and Forms:
        </h4>

        {% for file in data.files %}
        <a href="{{file.file.url}}">
        <button
        type="button"
        class="list-group-item list-group-item-action ripple text-center p-3 m-2"
        >
        {{file.filename}}
        </button>
        </a>
        {% endfor %}
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </main>
    <!--Main layout-->
  </body>
</html>
