{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload a News Atricle</title>

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
        <link rel="stylesheet" href="{% static 'css/fa.css' %}">
    <script src="{% static 'js/mdb.min.js' %}"></script>

    <style>
        .c-width{
            width: 50%;!important
        }
        .jca{
            justify-content:flex-start!important
        }
        .form-outline .form-control:focus~.form-label{
        background-color:white;
        color:#3b71ca;
        padding:0 10px;
        }
        .form-outline .form-control:focus, .form-outline .form-control~.form-label:not(:placeholder-shown){
        background-color: white;
        }
        @media (max-width: 991.8px){
            .c-width{
                margin-top: 50px;
                width: 100%; !important
            }
            #sidebarMenu{
                margin-top: 30px;
            }
            .jca{
                justify-content:space-around!important
            }
        }
        .m-top{
        margin-top: 58px;
        margin-bottom: 10px;
        }
    </style>

  </head>
  <body>
    <!--Main Navigation-->
  <header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
  <div class="list-group list-group-flush mx-3 mt-4">
  <a href="/home" class="list-group-item list-group-item-action py-2 ripple" >
  <i class="fa fa-home fa-fw me-3"></i><span>Home</span>
  </a>
  <a href="/news" class="list-group-item list-group-item-action py-2 ripple ">
  <i class="fa fa-newspaper fa-fw me-3"></i><span>News</span>
  </a>
  <a href="/events" class="list-group-item list-group-item-action py-2 ripple"><i
  class="fas fa-image fa-fw me-3"></i><span>Events</span></a>
  <a href="/go" class="list-group-item list-group-item-action py-2 ripple"><i
  class="fas fa-file fa-fw me-3"></i><span>GO's and Forms</span></a>
  <a href="/issues" class="list-group-item list-group-item-action py-2 ripple">
  <i class="fa-solid fa-circle-exclamation fa-fw me-3"></i><span>Raise an Issue</span>
  </a>
  <a href="/about" class="list-group-item list-group-item-action py-2 ripple">
  <i class="fas fa-address-card fa-fw me-3"></i><span>About us</span>
  </a>
  </div>
  </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid jca">

  <div class="navbar-brand">
  <img src="{% static 'img/logo.png' %}" width="45" class="ms-2 me-3">
  <h3 style="font-weight: 600">
  STU Kakinada
  </h3>
  </div>

  <form class="d-flex input-group w-auto" action="/search" id="search_form">
  <input
  type="search"
  class="form-control rounded"
  placeholder="Search"
  aria-label="Search"
  aria-describedby="search-addon"
  name="q"
  />
  </form>

  <!-- Toggle button -->
  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
  aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
  >
  <i class="fas fa-bars"></i>
  </button>
  <!-- Right links -->
  </div>
  <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="m-top">
      <div class="container pt-4">
      <div align="center">

        <div class="card text-start c-width">
                <div class="card-body ">
                <div class="news">
                <h3 align="center">Add News Article</h3>
                <form
                action="news"
                method="post"
                enctype="multipart/form-data"
                >
                {% csrf_token %}
                <div class="form">
                <div class="form-outline mb-4">
                <input type="text" name="news_name" title="news_name" class="form-control" style="outline:1px solid black;"                />
                <label for="news_name" class="form-label">News Article Name</label>
                </div>
                <div class="form-outline mb-4">
                <textarea
                name="news_body"
                title="news_body"
                cols="30"
                class="form-control"
                rows="10"
                style="outline:1px solid black;"
                ></textarea>
                <label for="news_body" class="form-label">News Article Body</label>
                </div>
                <div class="form-outline mb-4">
                <label for="image" class="form-label">Image</label>
                <input
                title="image"
                name="news_images"
                type="file"
                multiple
                class="form-file-text"
                />
                </div>
                <div class="form-outline mb-4">
                <label class="form-label">Date: </label>
                <input
                type="datetime-local"
                name="news_date"
                title="news_date"
                class="form-control str"
                style="border: 1px solid black"
                />
                </div>
                <div class="form-outline mb-4 text-center">
                <button class="w-50" type="submit">Submit</button>
                </div>
                </div>
                </form>
                </div>
                </div>
            </div>

        </div>
      </div>
    </main>
    <!--Main layout-->
  </body>
</html>
